@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@theme {
    /* Backgrounds */
    --color-primary: #071115;
    --color-secondary: #0D1A22;
    --color-tertiary: #081319;

    /* Borders */
    --color-outline: #20323C;

    /* Text */
    --color-heading: #EAEAEA;
    --color-body: #A0AEC0;
    --color-muted: #7B8C9A;

    /* Accents */
    --color-accent: #00DDEA;
    --color-accent-hover: #67ECF5;
}

.container {
    @apply mx-auto px-16;
}

.nav {
    @apply py-4 flex justify-between;
}

input, textarea {
    @apply border border-solid border-outline bg-primary rounded-md p-2;
}

button {
    cursor: pointer;
}
