@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@theme {
    /* Backgrounds */
    --color-primary: #071115;
    --color-secondary: #0D1A22;
    --color-tertiary: #081319;

    /* Borders */
    --color-outline: #20323C;

    /* Text */
    --color-heading: #EAEAEA;
    --color-body: #A0AEC0;
    --color-muted: #7B8C9A;

    /* Accents */
    --color-accent: #00DDEA;
    --color-accent-hover: #67ECF5;

    /* MessageTypes */
    --color-error: #FF6467;
}
